*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #083b4c}

.container{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 200px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    color: white;
    font-size: 90px;
}

.box{
    width: calc(100% / 7 - 20px);
    height: 180px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.box-blue{
    background-color: #1389b2;
}

.box-green{
    background-color: #0cd6a1;
}

.box-black{
    background-color: black;
    color: white;
}

.box-yellow{
    background-color: #ffd166;
    color: black;
}

.box-red{
    background-color: #f0466f;
}